.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 50px;
  background: linear-gradient(40deg, #bc35de97 20%,#084d9647 50% ,#ff910185 100%);
  border-radius: 8px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.event-item.visible {
  opacity: 1;
  transform: translateX(0);
}

.event-item.slide-in-left {
  transform: translateX(-100%);
}

.event-item.slide-in-right {
  transform: translateX(100%);
}

.event-item.visible.slide-in-left {
  transform: translateX(0);
}

.event-item.visible.slide-in-right {
  transform: translateX(0);
}

.event-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 16px;
  margin-left: -20px;
}

.event-details {
  flex: 1;
  margin-top: -10px;
}

.event-details h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #4adbbbac;
}

.event-details p {
  margin: 4px 0;
  font-size: 16px;
  color: #555;
}

.event-button {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background-color: #ff9100ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-button:hover {
  background-color: #ff00005b;
}



.register-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #d8345f, #ff4e00);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.register-button:hover {
  background: linear-gradient(90deg, #ff4e00, #d8345f);
  transform: scale(1);
}

.register-button:disabled {
  background: gray;
  cursor: not-allowed;
}
